
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="table-responsive">
    <table class="table table-padded table-xl mb-0 w-100" id="approved-callplan-list-table">
        <thead>
            <tr>
                <th>Scheduled Date</th>
                <th>PlanId</th>                                        
                <th>Category</th>   
                <th>Type</th>  
                @*<th>CIF</th>*@
                <th>Name</th>
                <th>Subject</th>  
                <th>Status</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>