
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="table-responsive">
    <table class="table table-padded table-xl mb-0 w-100" id="callplan-list-table">
        <thead>
            <tr>
                <th>BatchNumber</th>
                <th>Entry Date</th>
                <th>Nuber of Call(s)</th>
                <th>Status</th>                                                        
                                        
                <th>Action</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>