@{
    ViewData["Title"] = "Lead Plan";
    Layout = "~/Views/Shared/Template/_Layout.cshtml";
}
<br />
<div class="content">
    <div class="container-fluid">
        <div class="card card-default">
            <div class="card-header">
                <h4 class="card-title">Lead Plan</h4>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">

                <div class="card-content">
                    <ul class="nav nav-tabs" id="custom-content-above-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="initiated-call-plan-tab" data-bs-toggle="tab" href="#initiated-call-plan" role="tab" aria-controls="initiated-call-plan" aria-selected="true">Lead Plan List</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="approved-call-plan-tab" data-bs-toggle="tab" href="#approved-call-plan" role="tab" aria-controls="approved-call-plan" aria-selected="false">Approved Lead Plan</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="custom-content-above-tabContent">
                        <div class="tab-pane fade show active" id="initiated-call-plan" role="tabpanel" aria-labelledby="initiated-call-plan-tab">
                            <br />
                            <div id="product-summary" class="media-list position-relative">
                                @*<partial name="_InitiatedCallPlanSummary" />*@
                                <partial name="_InitiatedCallPlan" />
                            </div>
                        </div>

                        <div class="tab-pane fade" id="approved-call-plan" role="tabpanel" aria-labelledby="approved-call-plan-tab">
                            <br />
                            <div id="product-summary" class="media-list position-relative">
                                <partial name="_ApprovedCallPlan" />
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

<partial name="_CallPlanEntry" />
<partial name="_CallPlanUpdate" />

@section Scripts
{

<script>

    $(function () {
        $('#TentativeDate').datepicker({
            changeMonth: true,
            changeYear: true,
            format: "dd-M-yyyy",
            language: "tr",
            autoclose: true,
            startDate: "+0d"
        });
    });

    $(function () {
        $('#UTentativeDate').datepicker({
            changeMonth: true,
            changeYear: true,
            format: "dd-M-yyyy",
            language: "tr",
            autoclose: true,
            startDate: "+0d"
        });
    });
        var table;

        loadInitiatedCallPlanList();

        function loadInitiatedCallPlanList() {

                $('#callplan-list-table').DataTable().destroy();

                table =  $('#callplan-list-table').DataTable({
                //"processing": true, // for show progress bar
                "language": {
                    processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> '
                },
                "filter": true, // this is for disable filter (search box)
                "paging": true,
                "pageLength": 10,
                "lengthChange": false,
                "pagingType": "full_numbers",
                "scrollX": false,
                "autoWidth": true,
                "ajax": {
                    "url": "/CallPlan/GetCallPlanListByStatus",
                    "dataSrc": function(d) {
                        if (d.data.length === 0) {
                            var settings = $('#callplan-list-table').DataTable().settings()[0];
                            settings.oLanguage.sEmptyTable = d.message;
                        }
                        return d.data;
                    },
                    "data": { status: "INITIATED" },
                    "type": "POST",
                    "dataType": "json"
                },
                "columns": [
                    { "data": "tentativeDate", "name": "TentativeDate" },
                    { "data": "callPlanId", "name": "CallPlanId" },
                    { "data": "categoryName", "categoryName": "CategoryName" },
                    { "data": "callTypeName", "categoryName": "CallTypeName" },
                    //{ "data": "cif", "categoryName": "CIF" },
                    { "data": "name", "categoryName": "Name" },
                    { "data": "subject", "categoryName": "Subject" },
                    { "data": "status", "categoryName": "Status" },
                    {
                        data: null,
                        render: function (data, type, row) {
                            var dom = '<span class="cursor-pointer row-edit" ><i class="fas fa-edit primary fa-1x cursor-pointer"></i></span>'+
                            '&nbsp;&nbsp;|&nbsp;&nbsp; <span class="cursor-pointer row-delete" ><i id="btnUdelete" class="fas fa-trash primary fa-1x"></i></span>';
                            return dom;
                        },

                        ordering: false
                    },
                ],
                dom: 'Bfrtip',
                buttons: [
                    {
                        id:"btnAddNew",
                        text: 'Add New',
                        className: 'btn-primary',
                        action: function ( e, dt, node, config ) {
                            clearModal();
                            loadTempCallPlanList();
                            $("#callPlan-entry-modal").modal('show');
                        }
                    }
                ],

                columnDefs: [{
                     render: function(data) {
                            var  months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
                             var date = new Date(data);
                             var month = months[date.getMonth()];
                             return date.getDate()+"-"+month + "-" + date.getFullYear();
                         },
                        targets: [0]
                    }
                 ],
                "initComplete": function(settings, json) {
                    $("#process-list-table").wrap("<div style='overflow:auto; width:100%;position:relative;'></div>");
                    $('[data-toggle="tooltip"]').tooltip();

                }
            });
        }


        function loadApprovedCallPlanList(){
            $('#approved-callplan-list-table').DataTable().destroy();

                table =  $('#approved-callplan-list-table').DataTable({
                //"processing": true, // for show progress bar
                "language": {
                    processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> '
                },
                "filter": true, // this is for disable filter (search box)
                "paging": true,
                "pageLength": 10,
                "lengthChange": false,
                "pagingType": "full_numbers",
                "scrollX": false,
                "autoWidth": true,
                "ajax": {
                    "url": "/CallPlan/GetCallPlanListByStatus",
                    "dataSrc": function(d) {
                        if (d.data.length === 0) {
                            var settings = $('#approved-callplan-list-table').DataTable().settings()[0];
                            settings.oLanguage.sEmptyTable = d.message;
                        }
                        return d.data;
                    },
                    "data": { status: "APPROVED" },
                    "type": "POST",
                    "dataType": "json"
                },
                "columns": [
                    { "data": "tentativeDate", "name": "TentativeDate" },
                    { "data": "callPlanId", "name": "CallPlanId" },
                    { "data": "categoryName", "categoryName": "CategoryName" },
                    { "data": "callTypeName", "categoryName": "CallTypeName" },
                    //{ "data": "cif", "categoryName": "CIF" },
                    { "data": "name", "categoryName": "Name" },
                    { "data": "subject", "categoryName": "Subject" },
                    { "data": "status", "categoryName": "Status" },

                ],
                dom: 'Bfrtip',
                //buttons: [
                //    {
                //        id:"btnAddNew",
                //        //text: 'Add New',
                //        className: 'btn-primary',
                //        action: function ( e, dt, node, config ) {
                //            clearModal();
                //            loadTempCallPlanList();
                //            $("#callPlan-entry-modal").modal('show');
                //        }
                //    }
                //],

                columnDefs: [{
                     render: function(data) {
                            var  months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
                             var date = new Date(data);
                             var month = months[date.getMonth()];
                             return date.getDate()+"-"+month + "-" + date.getFullYear();
                         },
                        targets: [0]
                    }
                 ],
                "initComplete": function(settings, json) {
                    $("#approved-callplan-list-table").wrap("<div style='overflow:auto; width:100%;position:relative;'></div>");
                    $('[data-toggle="tooltip"]').tooltip();

                }
            });
        }

        $(document).on('click', '#initiated-call-plan-tab', function() {
            loadInitiatedCallPlanList();
        })

        $(document).on('click', '#approved-call-plan-tab', function() {

            loadApprovedCallPlanList();

        })



        function clearModal() {
            $('#CategoryId').val(null).trigger("change");
            $('#CallTypeId').val(null).trigger("change");
            $('#CIF').val('');
            $('#Name').val('');
            $('#Subject').val('');
            $('#Purpose').val('');
            $('#TentativeDate').val('');
            $('#tempId').val('');
            $('#btn-Temp-Add').text('Add Plan');
        }

        var pageSize = 5;

        $("#CategoryId").select2({
            multiple: false,
            delay: 250,
            cache: true,
            placeholder: "Select a Category",
            templateSelection: function (state) {
                if (state.id) {
                    return state.name ? state.name : state.text;
                }
            },
            ajax: {
                url: "/Category/CategoryFilterByProcess",
                data: function (params) {
                    var query = {
                        categoryName: (!params.term) ? "" : params.term,
                        pageNumber: params.page || 1,
                        pageSize: pageSize
                    };
                    return query;
                },
                dataType: 'json',
                processResults: function (response, params) {

                    selectData = {};
                    params.page = params.page || 1;
                    selectData = response.data.map(function (item) {
                        return {
                            id: item.id,
                            text: item.categoryName
                        };
                    });
                    //hideLoader();
                    return {
                        results: selectData,
                        pagination: {
                            more: (params.page * pageSize) < response.total
                        }
                    };
                }
            },

            allowClear: true

        });


        $("#CallTypeId").select2({

            multiple: false,
            delay: 250,
            cache: true,
            placeholder: "Select a Call Type",
            templateSelection: function (state) {
                if (state.id) {
                    return state.name ? state.name : state.text;
                }
            },
            ajax: {
                url: "/CallType/CallTypeFilter",
                data: function (params) {
                    var query = {
                        term: (!params.term) ?  "" : params.term,
                        pageNumber: params.page || 1,
                        pageSize: pageSize
                    };
                    return query;
                },
                dataType: 'json',
                processResults: function (response, params) {

                    selectData = {};
                    params.page = params.page || 1;
                    selectData = response.data.map(function (item) {
                        return {
                            id: item.id,
                            text: item.name
                        };
                    });
                    //hideLoader();

                    return {
                        results: selectData,
                        pagination: {
                            more: (params.page * pageSize) < response.total
                        }
                    };
                }
            },

            allowClear: true
           

        });

        $(document).on('select2:open', () => {
            document.querySelector('.select2-search__field').focus();
            //LoadLeadType();

        });

    LoadLeadType();
    LoadCIFName();

        var tempTable
        function loadTempCallPlanList() {

            $('#temp-callplan-list-table').DataTable().destroy();

            tempTable =  $('#temp-callplan-list-table').DataTable({
                //"processing": true, // for show progress bar
                "language": {
                    processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> '
                },
                "filter": false, // this is for disable filter (search box)
                "paging": false,
                "pageLength": 25,
                "lengthChange": false,
                "pagingType": "full_numbers",
                "scrollX": false,
                "bInfo" : false,
                "autoWidth": true,
                "ajax": {
                    "url": "/CallPlan/GetTempList",
                    "dataSrc": function(d) {
                        if (d.data.length === 0) {
                            var settings = $('#temp-callplan-list-table').DataTable().settings()[0];
                            settings.oLanguage.sEmptyTable = d.message;
                        }
                        return d.data;
                    },
                    "data": {status: 'ALL'},
                    "type": "POST",
                    "dataType": "json"
                },
                "columns": [
                    { "data": "categoryName", "name": "Category" },
                    { "data": "callTypeName", "name": "CallType" },
                    { "data": "cif", "name": "cif" },
                    { "data": "name", "name": "Name" },
                    { "data": "subject", "name":"Subject"},
                    { "data": "strTentativeDate", "name":"strTentativeDate"},
                    {
                        data: null,
                        render: function (data, type, row) {
                            var dom = '<span class="cursor-pointer row-delete" ><i id="btnUpdate" class="fas fa-edit primary fa-1x"></i><span>' +
                                '&nbsp;&nbsp;|&nbsp;&nbsp; <span class="cursor-pointer row-delete" ><i id="btndelete" class="fas fa-trash primary fa-1x"></i><span>';
                            return dom;
                        },
                        ordering: false
                    }

                ],
                dom: 'Bfrtip',
                "initComplete": function(settings, json) {
                    $("#temp-callplan-list-table").wrap("<div style='overflow:auto; width:100%;position:relative;'></div>");
                }
            });
        }

        $('#callPlan-entry-modal').on('click', '#btn-Temp-Add', function () {

            var category = $('#CategoryId').select2('data')[0];
            var callType = $('#CallTypeId').select2('data')[0];


            console.log(category);
            console.log(callType);

            if (!(category) || category.text == null) {
                // toastr.error('Select A Category!!!');
                 $.alert('Select A Category');
                 return;
             }

             if (!(callType) || callType.text == null) {
                // toastr.error('Select A Calltype!!!');
                 $.alert('Select A Lead type');
                 return;
             }

            name = $('#Name').val();

            if(!name || name ==''){
                toastr.error('Name is requried!!!');
                 $.alert('Name is requried!!!');
                 return;
            }

            subject = $('#Subject').val();
            if(!subject || subject ==''){
                toastr.error('Subject is requried!!!');
                 $.alert('Subject is requried!!!');
                 return;
            }

            tentativeDate = $('#TentativeDate').val();
            if(!tentativeDate || tentativeDate ==''){
                toastr.error('Tentative Date is requried!!!');
                 $.alert('Tentative Date is requried!!!');
                 return;
            }

    callPlan = {
        categoryId: category.id,
        categoryName: category.text,
        callTypeId: callType.id,
        callTypeName: callType.text,
        cif: $('#CIF').val(),
        name: name,
        subject: subject,
        purpose: $('#Purpose').val(),
        strTentativeDate: tentativeDate,
        id: $('#tempId').val()
    }

    $.ajax({
            url: "/CallPlan/SaveTempCallPlan",
            type: "POST",
            data: { callPlan: callPlan },
            success: function (data) {

                if (data.status == true) {
                    clearModal();
                    loadTempCallPlanList();
                }
                else {
                    toastr.error("Error", data.message);
                    $.alert(data.message);
                }
            }
        });

        });

        $('#callPlan-entry-modal').on('click', '#btn-Temp-cancle', function () {
                $.confirm({
                title: 'Confirm!',
                content: 'Are you sure to clear?',
                buttons: {
                    confirm: function () {
                        clearModal();
                    },
                    cancel: function () {

                    }
                }
            });
        });

        $('#temp-callplan-list-table').on('click', '#btndelete', function() {

            var rowData = tempTable.row($(this).parents('tr')).data();
            console.log(rowData);


            $.confirm({
                title: 'Confirm!',
                content: 'Are you sure to delete?',
                buttons: {
                    confirm: function () {
                        $.ajax({
                            url: "/CallPlan/DeleteTempCallPlan",
                            type: "GET",
                            data: { id: rowData['id'] },
                            success: function (data) {
                                if (data.status == true) {
                                    clearModal();
                                    loadTempCallPlanList();
                                }
                                else {
                                    toastr.error("Error", data.message);
                                    $.alert(data.message);
                                }
                            }
                        });

                    },
                    cancel: function () {

                    }
                }
            });


        } )



        $('#temp-callplan-list-table').on('click', '#btnUpdate', function() {

            var rowData = tempTable.row($(this).parents('tr')).data();
            console.log(rowData);
            
            $('#CategoryId').html('');
             var optionState ='';
             optionState ='<option value="' + rowData['categoryId'] +'">' + rowData['categoryName'] +'</option>';
             $('#CategoryId').append(optionState);


             $('#CallTypeId').html('');
             var optionState ='';
             optionState ='<option value="' + rowData['callTypeId'] +'">' + rowData['callTypeName'] +'</option>';
             $('#CallTypeId').append(optionState);
             var test=$('#CallTypeId').text();
             if(test=='New')
             {
               $('#CIF').attr('disabled',true);
             }else{$('#CIF').attr('disabled',false);}
            
            $('#CIF').val(rowData['cif']);
            $('#Name').val(rowData['name']);
            $('#Subject').val(rowData['subject']);
            $('#Purpose').val(rowData['purpose']);
            $('#TentativeDate').val(rowData['strTentativeDate']);
            $('#tempId').val(rowData['id']);
             //LoadLeadType();
            $('#btn-Temp-Add').text('Update Plan');
        } )


        $('#callPlan-entry-modal').on('click', '#btn-callPlan-save', function () {


            $.confirm({
                title: 'Confirm!',
                content: 'Are you sure to save?',
                buttons: {
                    confirm: function () {

                        $.ajax({
                            url: "/CallPlan/SaveCallPlanByUser",
                            type: "POST",
                            success: function (data) {

                                if (data.status == true) {
                                    toastr.success("message", data.message);
                                   $("#callPlan-entry-modal").modal('hide');
                                    clearModal();
                                    loadInitiatedCallPlanList();
                                }
                                else {
                                    toastr.error("Error", data.message);
                                    $.alert(data.message);
                                }
                            }
                        });

                    },
                    cancel: function () {

                    }
                }
            });

            });

         $('#callplan-list-table').on('click', '.row-edit', function() {

             var rowData = table.row($(this).parents('tr')).data();
             $('#UPurpose').attr('readonly', false);
             $('#USubject').attr('readonly', false);
             $('#UName').attr('readonly', false);
             $('#UCIF').attr('readonly', false);
             $('#UCategoryId').attr('disabled', false);
             $('#UCallTypeId').attr('disabled', false);


            console.log(rowData);

            $('#UName').val(rowData['name']);

            $('#UCategoryId').html('');
             var optionState ='';
             optionState ='<option value="' + rowData['categoryId'] +'">' + rowData['categoryName'] +'</option>';
             $('#UCategoryId').append(optionState);


             $('#UCallTypeId').html('');
             var optionState ='';
             optionState ='<option value="' + rowData['callTypeId'] +'">' + rowData['callTypeName'] +'</option>';
             $('#UCallTypeId').append(optionState);
             var UleadType=$('#UCallTypeId').text();
             //alert(leadType);

              if( UleadType=='New')
               {
                $('#UCIF').attr('disabled',true);
               }else{$('#UCIF').attr('disabled',false);}

            $('#UCIF').val(rowData['cif']);
            $('#USubject').val(rowData['subject']);
            $('#UPurpose').val(rowData['purpose']);
            $('#UTentativeDate').val(rowData['strTentativeDate']);
            $('#tempId').val(rowData['id']);
            $('#lblBatchno').text(rowData['batchNo']);
            console.log(rowData);
            $("#callPlan-update-modal").modal('show');
        } )

         $("#UCategoryId").select2({
            multiple: false,
            delay: 250,
            cache: true,
            placeholder: "Select a Category",
            templateSelection: function (state) {
                if (state.id) {
                    return state.name ? state.name : state.text;
                }
            },
            ajax: {
                url: "/Category/CategoryFilterByProcess",
                data: function (params) {
                    var query = {
                        categoryName: (!params.term) ?  "":params.term ,
                        pageNumber: params.page || 1,
                        pageSize: pageSize
                    };
                    return query;
                },
                dataType: 'json',
                processResults: function (response, params) {

                    selectData = {};
                    params.page = params.page || 1;
                    selectData = response.data.map(function (item) {
                        return {
                            id: item.id,
                            text: item.categoryName
                        };
                    });
                    //hideLoader();
                    return {
                        results: selectData,
                        pagination: {
                            more: (params.page * pageSize) < response.total
                        }
                    };
                }
            },

            allowClear: true

        })

          $("#UCallTypeId").select2({
            multiple: false,
            delay: 250,
            cache: true,
            placeholder: "Select a Call Type",
            templateSelection: function (state) {
                if (state.id) {
                    return state.name ? state.name : state.text;
                }
            },
            ajax: {
                url: "/CallType/CallTypeFilter",
                data: function (params) {
                    var query = {
                        term: (!params.term) ?  "":params.term,
                        pageNumber: params.page || 1,
                        pageSize: pageSize
                    };
                    return query;
                },
                dataType: 'json',
                processResults: function (response, params) {

                    selectData = {};
                    params.page = params.page || 1;
                    selectData = response.data.map(function (item) {
                        return {
                            id: item.id,
                            text: item.name
                        };
                    });
                    //hideLoader();
                    return {
                        results: selectData,
                        pagination: {
                            more: (params.page * pageSize) < response.total
                        }
                    };
                }
            },

            allowClear: true

        });
        ULoadLeadType();

         $('#callPlan-update-modal').on('click', '#btn-TempUpdate-Add', function () {
            var category = $('#UCategoryId').select2('data')[0];

            var callType = $('#UCallTypeId').select2('data')[0];
             let batchno=$("#lblBatchno").text();

            console.log(category);
            console.log(callType);

            if (!(category) || category.text == null) {
                 //toastr.error('Select A Category!!!');
                 $.alert('Select A Category');
                 return;
             }

             if (!(callType) || callType.text == null) {
                // toastr.error('Select A Calltype!!!');
                 $.alert('Select A Lead type');
                 return;
             }

            name = $('#UName').val();

            if(!name || name ==''){
                toastr.error('Name is requried!!!');
                 $.alert('Name is requried!!!');
                 return;
            }

            subject = $('#USubject').val();
            if(!subject || subject ==''){
                toastr.error('Subject is requried!!!');
                 $.alert('Subject is requried!!!');
                 return;
            }

            tentativeDate = $('#UTentativeDate').val();
            if(!tentativeDate || tentativeDate ==''){
                toastr.error('Tentative Date is requried!!!');
                 $.alert('Tentative Date is requried!!!');
                 return;
            }


             $.confirm({
                title: 'Confirm!',
                content: 'Are you sure to save?',
                buttons: {
                    confirm: function () {

                        callPlan = {
                            categoryId: category.id,
                            categoryName: category.text,
                            callTypeId: callType.id,
                            callTypeName: callType.text,
                            cif: $('#UCIF').val(),
                            name: name,
                            subject: subject,
                            purpose: $('#UPurpose').val(),
                            strTentativeDate: tentativeDate,
                            id: $('#tempId').val(),
                           batchNo:batchno
                        }

                        $.ajax({

                                url: "/CallPlan/SaveTempCallPlan",
                                type: "POST",
                                data: { callPlan: callPlan },
                                success: function (data) {

                                    if (data.status == true) {
                                        clearModal();
                                        loadInitiatedCallPlanList();
                                        $("#callPlan-update-modal").modal('hide');
                                    }
                                    else {
                                        toastr.error("Error", data.message);
                                        $.alert(data.message);
                                    }
                                }
                            });

                    },
                    cancel: function () {

                    }
                }
            });





        });


        $('#callplan-list-table').on('click', '.row-delete', function() {

            var rowData = table.row($(this).parents('tr')).data();
            console.log(rowData);
            var flag=1;
            let batchno=$("#lblBatchno").text();

            $.confirm({
                title: 'Confirm!',
                content: 'Are you sure to delete?',
                buttons: {
                    confirm: function () {
                        $.ajax({
                            url: "/CallPlan/DeleteTempCallPlan",
                            type: "GET",
                            data: { id: rowData['id'],flag:flag },
                            success: function (data) {
                                if (data.status == true) {
                                    clearModal();
                                    loadInitiatedCallPlanList();

                                }
                                else {
                                    toastr.error("Error", data.message);
                                    $.alert(data.message);
                                }
                            }
                        });

                    },
                    cancel: function () {

                    }
                }
            });
        } )

        function CloseModalPopup() {
                $("#callPlan-update-modal").modal('hide');
                $("#callPlan-entry-modal").modal('hide');
        }

      function LoadLeadType(){
           $('select#UCallTypeId').change(function(){
             var LeadType = $(this).children("option:selected").text();
             if(LeadType=='New')
              {
                $('#UCIF').attr('disabled',true);
              }else{$('#UCIF').attr('disabled',false);}
          });
     }

     function ULoadLeadType(){
           $('select#CallTypeId').change(function(){
             var LeadType = $(this).children("option:selected").text();
             if(LeadType=='New')
              {
                $('#CIF').attr('disabled',true);
              }else{$('#CIF').attr('disabled',false);}
          });
     }

      function LoadCIFName(){
           $('input#CIF').on("blur",function(){

                 let cif = $("#CIF").val();
                 if(cif==null || cif.trim().length<1)
                 {
                   alert('Enter CIF Id!');
                 }
                 else{
                    $.ajax({
                    url: "/CallPlan/getCIFName",
                    type: "GET",
                    contentType: "application/json;charset=UTF-8",
                    data: {
                        'cif': cif

                    },
                    dataType: "json",
                    success: function (result) {
                        console.log(result);
                        if(result.data == null)
                        {
                          alert('Invalid CIF!');
                        }else{
                          $('#Name').val(result.data.acct_name);
                        }
                           
                    },
                    error: function (errormessage) {
                        alert(errormessage.responseText);
                    }
                });
                 }
                           
          });
     }


</script>
}