
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@



<div class="modal fade text-left" id="Lead-details-modal" role="dialog" aria-labelledby="reassign-modal-label" aria-hidden="true" style="z-index:1051;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title text-white" id="reassign-modal-label" style="font-size:18px">Details <span id="option">View</span></h5>
                <button type="button" class="close text-white" onclick="CloseModalPopup();" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>


            <div class="modal-body modal-fixed">
                

                  <div id="tempCallPlan-summary" class="media-list position-relative">
                    <div class="table-responsive">
                        <table class="table table-padded table-xl mb-0 w-100" id="callActivity-details-table">
                            <thead>
                                <tr>
                                                                                    
                                     <th>Client Name</th>
                                     @*<th>CIF</th>*@
                                     <th>Contact Person</th>
                                     <th>NxtFollowUpDate</th>
                                     <th>FollowUpNote</th>
                                     <th>Action Plan</th>  
                                     <th>Summary</th>
                                     <th>File Name</th>
     
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>

               
            </div>
        </div>
    </div>
</div>