<div class="table-responsive">
    <table class="table table-padded table-xl mb-0 w-100" id="lead-subordinate-list-table">
        <thead>
            <tr>
                <th>Employee Name</th>
                <th>Employee PIN</th>
                <th>Visit Date</th>
                <th>Client/Group Name</th>
                <th>Subject</th>
                <th>Follow-up Date</th>
                <th>Status</th>
                @*<th>Action</th>*@
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>