 <div class="card-body">
    <div class="card-content">
        <div id="product-summary" class="media-list position-relative">
            <div class="table-responsive">
                <table class="table table-padded table-xl mb-0 w-100" id="callplan-list-table">
                    <thead>
                        <tr>
                            <th>Scheduled Date</th>
                            <th>Pin</th>
                            <th>PlanId</th>                                        
                            <th>Category</th>   
                            <th>Type</th>  
                            @*<th>CIF</th>*@
                            <th>Name</th>
                            <th>Subject</th>  
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody style="line-height:0.5rem">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>