<div class="header-navbar navbar-expand-sm navbar navbar-horizontal navbar-fixed navbar-dark navbar-without-dd-arrow navbar-shadow" role="navigation"
     data-menu="menu-wrapper" style="background:#0154a0;">
    <div class="navbar-container main-menu-content" data-menu="menu-container">
        <ul class="nav navbar-nav float-left" id="main-menu-navigation" data-menu="menu-navigation">
            <li class="nav-item nav-item-home">
                <a class="nav-link" asp-controller="Home" asp-action="Index"><i class="ft-home"></i><span>Home</span></a>
            </li>
            
                <li class="nav-item nav-item-doc">
                    <a class="nav-link" asp-controller="Process" asp-action="Index"><i class="ft-aperture"></i><span>Process</span></a>
                </li>
            
                <li class="nav-item ">
                    <a class="nav-link" asp-controller="CallType" asp-action="Index"><i class="ft-home"></i><span>Call Type</span></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" asp-controller="Category" asp-action="Index"><i class="ft-home"></i><span>Category</span></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" asp-controller="UserManagement" asp-action="Index"><i class="ft-home"></i><span>User Management</span></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" asp-controller="Document" asp-action="ReportView2"><i class="ft-home"></i><span>Summary Report</span></a>
                </li>                
        </ul>
       
    </div>
</div>